

.site_title img {
    width: 1.2em;
}

.container-clone .h3-a-clonar {
    position: absolute;
    display: none;
    top: 0;
    left: 3000px;
}

.child_menu li a::before {
    background: #fff !important;
}

.nav.side-menu>li.current-page, .nav.side-menu>li {
    border-right: 5px transparent;
}

.front-page-title {
    transition: opacity .3s, text-align 1.8s;
    text-align: left;
    opacity: 1;
    width: 100%;
    /*text-align: center;*/
    font-size: 2em !important;
}



.lista-de-posts {
    padding: 1.9em;
    height: 90vh;
    overflow: auto;
    overflow-x: hidden;
    visibility: visible;
    transition: opacity 500ms cubic-bezier(0.335, 0.010, 0.030, 1.360), visibility 500ms cubic-bezier(0.335, 0.010, 0.030, 1.360);
}

@media screen and (min-width: 760px) {
    html {
        overflow: hidden;
    }
}

.container-clone, .h3-a-clonar, .item-a-clonar {
    display: none;
}

.esquerda {
    position: relative;
    height: 100vh;
    overflow: auto;
    overflow: scroll;
    overflow-x: hidden;
}

.efeito-fade {
    transition: background-color .6s;
    background-color: lightsteelblue;
}




/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
    scrollbar-color: #73879C #ffffff;
    scrollbar-color: #e6e7e9 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    background-color: #73879C;
    background-color: #e6e7e9;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }



  .fixed_height_320 {
    height: auto !important;
    }

  .video-content .x_content {
    height: auto;
  }

  .esquerda .panel_toolbox {
    min-width: 0;
}



.menu_section h3 {
    padding-left: 13px;
}

.nav>li>a:hover, .nav>li>a:focus {
    /*background-color: #424f5c94;*/
    background: rgb(255 255 255 / 20%);
    background: rgb(255 255 255 / 7%);
}

.nav.side-menu .child_menu {
    display: none;
}

.menu_section h3 {
    margin-bottom: 10px !important;
}


.nav.side-menu>li.current-page, .nav.side-menu>li {
    border-top: solid thin #222a3273;
    border-bottom: solid thin #222a3273;
}

.nav.side-menu>li.current-page, .nav.side-menu>li {
    border-right: 5px solid #2a3f54;
}

footer {
    border-top: solid thin #2a3f541c;
}

.menu_section h3 {
    margin-bottom: 0 !important;
    width: fit-content; -moz-fit-content: fit-content;
    border-left: solid thin #222a329e;
    border-left: solid thin #334a60;
    border-top: solid thin #222a329e;
    border-top: solid thin #647587;
    border-right: solid thin #222a329e;
    /*border-right: solid thin #5b6874;*/
    border-radius: 4px 4px 0 0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 13px;
    margin-left: 4px;
    margin-top: 20px;
}

.span-nome-trilha {
    margin-left: 8px;
}

.active a span.fa {
    margin-right: 1px
}

.current-page:hover {
    background: rgba(255,255,255,0.05);
}

.top_nav .navbar-right li {
    position: relative;
}

.titulo-do-video {
    margin-left: .5em;
}



#form-salva-post {
    opacity: 1;
    visibility: visible;
    transition: opacity 200ms cubic-bezier(0.335, 0.010, 0.030, 1.360), visibility 200ms cubic-bezier(0.335, 0.010, 0.030, 1.360);
    pointer-events: all;
}

.remove {   
    margin-left: -2000px !important;
    opacity: 0 !important;
    visibility: hidden !important;     
    transition: opacity 200ms cubic-bezier(0.335, 0.010, 0.030, 1.360), visibility 200ms cubic-bezier(0.335, 0.010, 0.030, 1.360);
    pointer-events: none;
}

@media screen and (min-width: 780px) {
    #menu_toggle {
        display: none;
    }
    .menu_section { 
        height: 83vh;
        overflow: overlay;
        overflow-x: hidden;    
    }
}

.sidebar-footer {
    display: none;
}

.id-usuario-logado {
    display: none;
}

















/* prism */
code[class*=language-], pre[class*=language-] {
    color: #767171;
}

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

code[class*=language-], pre[class*=language-] {
    color: #767171;
}

.post-content pre {
    font-size: initial;
    background-color: #f7f7f7;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
    background: #f5f2f0 !important;
    background: #f5f5f5 !important;
}

pre[class*=language-].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
    /*box-shadow: 4px 6px 8px -7px #00000059;*/
    box-shadow: 0px 0px 3px 0px #0000001f;
}




/* lista de posts e post */

.lista-de-posts .post {
    transition: background-color .3s;
    background-color: snow;
    border-bottom: dotted thin #b1acacb3;
}

.post {
    transition: opacity .2s, height .4s, opacity .4s;
    overflow: overlay;
    /*opacity: 0;*/
    height: auto !important;
}

.post {
    border: none;
    border: solid thin #e1e1e170;
    height: auto !important;
    border-left-width: 8px !important;
}

.post .post-header {
    /* border-left: solid #cccccc29; */
    /* border-radius: 22px 3px 3px 22px; */
    /* border-radius: 3px 22px 3px 22px; */
    /* border-right: solid #cccccc29; */
    /* background-color: #f9f9f9; */
    /* border-bottom-color: #deb8878f; */
    /* border-bottom-style: double; */
    padding-right: 1em;
}

.post-header {
    position: relative;
    overflow: overlay;
    transition: opacity .6s, height .6s;
    padding: 0.5em 0.1em;
    overflow: hidden;
    z-index: 999;
}

.hora, .data {
    border-right: solid #3333330f;
    border-left: solid #3333330f;
    padding-right: .3rem;
    border-radius: 26px 26px 26px 26px;
    background-color: #fff;    
}

.post-date {
    padding-left: 2em;
}

.post-tools {
    transition: all .5s cubic-bezier(0.335, 0.010, 0.030, 1.360);
    padding-right: .8rem;
}

.post-tools i {
    margin-left: .5rem;
}

.post-tools {
    border-left: solid thin #ededed;
    transition: opacity .3s;
    opacity: 1;
    border: solid thin transparent;
    /*box-shadow: 0px 0px 3px 0px #0000001a;*/
    margin-right: 1em;
    background-color: #ffffff0f;
}

.post-header .post-date h3 {
    margin-left: .5em;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
}

.post-header .post-date h3 span {
    font-size: .8rem !important;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-footer span {
    color: #d1d1d1;
}

.post-footer i {
    opacity: .5;
}

.post-title {
    padding: .5em .2em;
}

.post-content p {
    font-size: initial;
    height: auto;
}

.post hr {
    border-top: 1px solid rgb(0 0 0 / 5%) !important;
    padding-top: 0 !important;
    margin-top: 2px !important;
    width: 90%;
    margin-bottom: 0.5em;
}

.edit-post {
    border-right: dotted thin;
    padding: 0 7px 0 0;    
}

.edit-post:hover {
    transition: color .1s;
    color: #958e8e !important;
    cursor: pointer;
}

.trash-post:hover {
    transition: color .1s;
    color: #958e8e !important;
    cursor: pointer;
}

.confirma-exclusao-post {
    display: flex;
    position: absolute;
    transition: margin-top .4s, opacity .4s;
    top: -60px;
    /* pointer-events: none; */
    background-color: #fff;
    border: solid thin #ddd;
    z-index: 9999999999999;
    opacity: 0;
    padding-top: 0.5em;
    padding-left: 0.4em;
    padding-bottom: 0.3em;
 }
 
.confirma-exclusao-post::after {
    position: absolute;
    content: '';
    height: 0;
    border-style: solid;
    border-width: 19px 84px 1px 0px;
    border-color: #fff transparent transparent transparent;
    margin-top: 42px;
    transform: rotate(120deg);
}
 
 .btn-sim-exclui-post {
    margin-left: .5em;
 }

.btn-sim-exclui-post, .btn-nao-exclui-post  {
    padding: 0.1em 0.4em;
    font-size: .8em;
}

/* fontawesome ícones do sistema - achei que ficou bom*/

.fa-solid, .fas {
    font-weight: 900;
    color: goldenrod !important;
}

.bg-green {
    background: goldenrod !important;
    border: 1px solid goldenrod !important;
    color: #fff;
}



/* cor classe active menu_section ativo*/
.nav.side-menu>li.current-page, .nav.side-menu>li.active {
    border-right: 5px solid goldenrod;
}

.add-new-post {
    transition: transform .3s;
    position: absolute;
    font-size: 4em !important;
    right: 0.5em;
    /*bottom: 0.5em;*/
    background-color: transparent;
}

.add-new-post:hover {
    cursor: pointer;
    transition: transform .3s;
    transform:scale(1.2);
}

.btn-outline-dark.focus, .btn-outline-dark:focus {
    box-shadow: none !important;
}
.btn.focus, .btn:focus {
    box-shadow: none !important;
}
.btn-secondary:hover {
    background-color: #2a3f54 !important;
}


























.btn-select-code {    
    /* padding-bottom: 0; */
    margin-bottom: 0;
    position: absolute;
    margin-bottom: 0;
    position: absolute;
    z-index: 2;
    right: 4.2em;
    border: solid thin #d1d1d1a3;
    font-size: small;
    margin-right: .5em;
    font-size: x-small;
    padding: 0.3em;
    top: 0;
}

.btn-copy-code {
    margin-bottom: 0;
    position: absolute;
    z-index: 2;
    right: 0;
    /* padding-bottom: 0; */
    border: solid thin #d1d1d1a3;
    font-size: small;
    font-size: x-small;
    padding: 0.3em;
    top: 0;
}

.post-footer {
    padding-top: 0.5em;
}