main {
    position: relative;
}

.border-line {
    border: solid 1px rebeccapurple;
    border-radius: 5px;
    padding: 6px 8px;
}

.nav-item:hover {
    transition: background-color .7s ease;
    background-color: #e4dd4fa1;
    text-decoration: underline;
}

.nav-item:nth-child(4) {
    font-style: italic;
    font-size: 1.1rem;
    margin-left: 1.7rem;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

#footer {
    background-color: floralwhite;
}

.gestri {
    transition: transform, background-color, color .3s linear;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    min-width: 7rem;
    transform: scale(1);    
    color: #fff;
    width: 5rem;
    border: solid thin #5d7388;
    /*background-color: #723182;*/
    background-color: #2A3F54;
    border-radius: .3rem;
    padding: .3rem .6rem;
    font-size: 1.3rem;
}

.gestri:hover {
    transition: transform, background-color, color .3s linear;
    transform: scale(.9);
    text-decoration: none;
    /*color: #723182;*/
    color: #2A3F54;
    background-color: #fff;
}

.main .navbar {
    box-shadow: 4px 6px 8px -7px #b5b2b259;
}

.slogan2 {
    color: #726d6d;    
    text-align: -webkit-left;    
    margin-top: 0;
}

.slogan1 {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #2A3F54 !important;
}

.btn-seinscreva {
    text-align: center;
}


.navbar-brand img {
    width: 1em !important;
}